html,body{height:100%;margin:0}
header{height:15vh;background:#a6e6f4;position:relative;
       display:flex;align-items:center;justify-content:center}
main{height:60vh;background:#12c3c3;display:flex;align-items:center;justify-content:center}
.articles{height:15vh;display:flex}
footer{height:10vh;background:#d58bd0;display:flex;align-items:center;justify-content:center}
.articles article{
  flex:1;background:#ddd;display:flex;align-items:center;justify-content:center
}
.articles article+article{border-left:2px solid #eee}
header nav{
  position:absolute;top:10px;left:50%;transform:translateX(-50%);
  width:28%;min-width:160px;max-width:520px;height:40px;border-radius:8px;
  background:#7986cb;color:#fff;display:flex;align-items:center;justify-content:center
}